@page "/dashboard"
@inject State State
@inject HttpClient Http

<h3>Dashboard</h3>
@State.DiscordDisplayName
<button @onclick="TestWebhook">Test Webhook</button>

@code {
    protected override void OnInitialized()
    {
        State.OnStateChanged += StateChanged;
    }

    private async Task TestWebhook()
    {
        var result = await Http.GetStringAsync("https://localhost:5002/Test");
        Console.WriteLine(result);
    }
    
    public void Dispose()
    {
        State.OnStateChanged -= StateChanged;
    }

    private async void StateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }
}