@page "/dashboard"
@using GameMaster.Shared
@using GameMaster.Shared.Mafia
@inject State State
@inject HttpClient Http
@inject DataService Data

<h3>Dashboard</h3>
@if (Ready)
{
    <ul>
        @foreach (var game in Games)
        {
            <li><a href="dashboard/mafia/@game._id">@game.Name</a></li>
        }
    </ul>
}

@code {
    private bool Ready { get; set; } = false;
    private List<MafiaGame> Games { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        State.OnStateChanged += StateChanged;

        Games = await Data.GetAllMafiaGamesManagedByUser(State.DiscordId);
        Ready = true;
    }

    private async Task TestWebhook()
    {
        var result = await Http.GetStringAsync("https://localhost:5002/api/WebHook");
        Console.WriteLine(result);
    }
    
    public void Dispose()
    {
        State.OnStateChanged -= StateChanged;
    }

    private async void StateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }
}