@page "/dashboard"
@using GameMaster.Shared
@using GameMaster.Shared.Mafia
@inject State State
@inject HttpClient Http
@inject DataService Data

<h3 class="text-2xl font-bold mb-2">Dashboard</h3>
@if (Ready)
{
    <ul>
        @foreach (var game in Games)
        {
            @if (string.IsNullOrEmpty(game.Name))
                continue;
            
            <li><a href="dashboard/mafia/@game.Id" class="text-blue-400 hover:underline hover:underline-offset-1">@game.Name</a></li>
        }
    </ul>
}

@code {
    private bool Ready { get; set; } = false;
    private List<MafiaGame> Games { get; set; } = new();
    
    protected override void OnInitialized()
    {
        State.OnStateChanged += StateChanged;

        Games = Data.GetAllMafiaGamesManagedByUser(State.DiscordId);
        Ready = true;
    }
    
    public void Dispose()
    {
        State.OnStateChanged -= StateChanged;
    }

    private async void StateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }
}