@page "/"
@inject State State
@inject NavigationManager Nav
@implements IDisposable

@if (!State.IsLoggedIn)
{
    <div class="h-screen flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-6xl font-bold mb-2">GameMaster</h1>
            <h3 class="text-xl mb-8">A discord bot for running interactive games in your server</h3>
            <a href="https://discord.com/api/oauth2/authorize?client_id=713823987255476307&response_type=code&redirect_uri=https%3A%2F%2Flocalhost%3A5001%2Fauth&scope=guilds+identify+email" class="px-2 py-1 bg-indigo-700 rounded-sm hover:bg-indigo-500 inline-flex items-center">Login with Discord</a>
        </div>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        if (State.IsLoggedIn)
            Nav.NavigateTo("/dashboard");
        
        State.OnStateChanged += StateChanged;
    }

    public void Dispose()
    {
        State.OnStateChanged -= StateChanged;
    }

    private async void StateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }
}