@inherits LayoutComponentBase
@inject State State
@inject NavigationManager Navigation

<PageTitle>GameMaster</PageTitle>

<main>
    @if (State.IsLoggedIn)
    {
        <div>
            <img src="@State.DiscordAvatar" aria-label="Discord avatar"/>
            @State.DiscordDisplayName
            <button @onclick="Logout">Logout</button>
        </div>
    }

    <NavLink href="/">Home</NavLink>
    <NavLink href="/dashboard">Dashboard</NavLink>

    <article>
        @Body
    </article>
</main>

@code
{
    protected override void OnInitialized()
    {
        State.OnStateChanged += StateChanged;
    }

    private void Logout()
    {
        Navigation.NavigateTo("/auth/logout", true);
    }

    public void Dispose()
    {
        State.OnStateChanged -= StateChanged;
    }

    private async void StateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }
}
